
.App {
    text-align: left;
    background-color: #282c34;
    /* background-color: #141517!important; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 1.2rem;
    color: #eee;    
}

.App a:link {
    color:#18b26f;
    text-decoration: none;
}

.App a:visited {
    color:#18b26f;
}

.App a:hover {
    color:#0de587;
}

.Book {
    min-height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: left; 
    justify-content: left; 
    max-width: 800px;   
    font-family: Verdana;
    font-weight: 300;
    line-height: 1.6em;
    font-size: calc(7px + 0.9vmin);
    color: #eee;    
}

.Book-help {
    color: #AAA;
    line-height: 0.5em;
    font-size: calc(8px + 0.4vmin);
}

.Book-topbar {
    max-width: 800px;    
    text-align: right;
    margin-top: 1.5%;
}

.Book-topbar-l {
    text-align: left
}

.Book-topbar-c {
    text-align: center
}

.Book-topbar-r {
    text-align: right
}

.help {
    color: #777;
    font-size: calc(6px + 0.9vmin)!important;
}

.fieldEdit {
    /* color: #18b26f!important; */
    /* color: #3e84f2!important; */
    color: #2982d2!important;
    padding-top:0px!important;
    padding-right:0px!important;
    padding-left:0px!important;
    padding-bottom:0px!important;
    /* text-align:left; */
    font-size: calc(8px + 0.7vmin)!important;
}

.fieldLabel {
    font-size: calc(8px + 0.7vmin)!important;
}


.simpleImageDiv {
    vertical-align: bottom
}
