


.cell {
  height: 40px;
  width: 40px;
  background-color: #333;
  display: content; 
  /* flex-direction: column;  */
  /* justify-content: center;  */
  /* align-items: center;  */
  text-align: center;
  /* cursor: pointer; */ /* if click needed */
}

.fightMap {
    display: inline-table;
}
